body{ background-color:#BDD2B6;
    

}
hr{
    
    border-style: none;
    border-top: dotted;
    border-width:5px;
    border-color: #5b6c58;
    height:2px;
    width: 20%;
    
    
    
}
h1{
    font-family: 'Courier New', Courier, monospace;
    font-stretch: 50%;
    color: #7b9477;
}
h3{
    font-family:'Courier New', Courier, monospace ;
    color: #7b9477;
}
p{
    color:#798777 ;
    font-family:Arial, Helvetica, sans-serif;
}
table{
    font-family: Arial, Helvetica, sans-serif;
}

